
 
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      
    }
    th, td {
      background-color: #c28bc5;
      
    }
    
    #text{
     
     color: #670303;
     background-color: aqua;
    }
    .summer{
        color: blue;
    }